

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.landing {
  min-height: 100vh;
  background-image: url('pexels-scott-webb-305827.jpg');
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  height: 70vh;
  margin: auto;
  background: rgba(205,205,205,.7);
  border-radius: 0 0 30px 30px;
  backdrop-filter: blur(5px);
  z-index: 10;
}

h2 {
  width: 200px;
  margin: 100px auto;
  font-family: 'Berkshire Swash';
  color: rgb(81, 136, 115);
  font-size: 70px;
}
.intro-btns {
  border-radius: 5px;
  width: 500px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.intro-btns button {
  margin: 40px;
  border: none;
  outline: none;
  transition: .6s ease-in;
}
.intro-btns button:hover {
  background: black!important;
}
.green {
  background: rgb(81, 136, 115)!important;
}

.darkgreen {
  background: rgba(107, 64, 57, 0.692)!important;
}

.light {
  color: white
}

.greenrush {
  background-image: url('pexels-scott-webb-305827.jpg');
  position: fixed;
  top: 0;
  z-index: 1;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.menu a {
  color: rgb(228, 228, 228);
  padding: 10px;
  margin: 5px;
  transition: .6s ease-in
}

.menu a:hover {
  background: rgba(220,220,220,.5);
  border-radius: 5px;
  text-decoration: none;
  color: rgb(20,20,20)

}
.brand {
  font-family: 'Berkshire Swash';
  font-size: 35px;
  margin: 12px;
  padding: 0;
  color: white;
}

.nav-top {
  margin: 0;
  text-align: center;
}

.nav-link {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.nav-bottom {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bottom > div {
  margin: 20px;
}


.username {
  margin: 0 40px;
  background: rgba(200,200,200, .6);
  border-radius: 50px;
  padding: 10px;
}
.logoutBtn {
  margin: 0 30px;
}
.forms {
  width: 75%;
  margin: auto;
}
.content-box {
  background: rgb(180, 207, 182);
  width: 45%;
  margin: 150px auto;
  padding: 30px;
  position: static;
}
.my-page {
  margin: 50px auto 0 auto;
}
.my-page-container {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  padding: 30px;
  width: 70%;
  margin-top: 30px;
  margin-left: 500px;
}
.my-page-header {
  width: 40%;
  margin: 10px auto 0 auto;
  font-size: 40px;
  font-family: 'comfortaa';
  color: rgb(155, 155, 155);
  justify-content: space-between;
}
.my-page-container h1 {
  font-family: 'Comfortaa';
}
/* .my-page-container > div {
  min-width: 900px;
  max-width: 900px;
  max-height: 750px;
  overflow-y: scroll;
} */

.my-page-container {
  min-width: 70%;
  max-width: 70%;
  max-height: 750px;
  overflow-y: scroll;
  border: 1px solid rgb(190, 190, 190)
}

.sub-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 7px;
  color: rgb(155, 155, 155);
}
.tab a {
  font-size: 35px;
  color: rgb(109, 163, 151);
  font-family: 'comfortaa';
  letter-spacing: .1em;
}

.btn {
  border: none!important;
  outline: none!important;
}

.list-item {
  margin: 25px 0;
}

.item-row {
  display: flex;
  width: 100%;
  color: rgba(20,20,20,.7);

}

.factfile {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.factfile span {
  font-weight: bold;
}

h5 {
  padding: 10px;
  color: rgba(153, 147, 150, 0.6);
  border-bottom: 1px solid grey;
  text-align: right
}

.searchbar {
  margin: 250px auto;
  width: 40%;
}

.searchbar h1 {
  font-family: 'Comfortaa';
  color: rgba(20,20,20,.7);
  margin: 30px 0;
}